
{% extends "base.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/pdp.jpeg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>ADMIN PANNEL</h1>
            <span class="subheading">Add and Coustomize your Posts</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <h2></h2>
  <div class="container table-striped">
  <h2>Blog table</h2>
  <p><a href="/edit/addpost"><button class="btn btn-primary btn-sm">Add Post</button></p></a>  

  <table class="table">
    <thead>
      <tr>
        <th>SerialNo</th>
        <th>Post</th>
        <th>Date</th>
        <th>   </th>
        <th>   </th>

      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td>{{post.slno}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date}}</td>
        <td><a href="/edit/{{post.slno}}"><button class="btn btn-outline-primary btn-sm"> Edit </button></td>
        <td><a href="/delete/{{post.slno}}"><button class="btn btn-outline-danger btn-sm">Delete</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> 
     
        <!-- Pager -->
        <div class="clearfix">
          <a href="/logout" class="btn btn-danger float-right" padding="20px" href="#">LOG-OUT</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
