{% extends "base.html" %}
{% block body %}
  <!-- Page Header -->
   <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/edithtml.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Create Content</h1>
            <span class="subheading">Add Your post here</span>
          </div>
        </div>
      </div>
    </div>
  </header>

          <div class="container">
  <p><a href="/dashboard"><button class="btn btn-primary btn-sm">Dashboard</button></p></a> 
         <h3>Uplaod your files here</h3>
         <form action="/uploader" method="post" enctype="multipart/form-data">
  <input type="file" name="file1">
  <button type="submit" class="btn btn-success">SUBMIT</button>
</form>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p><h2>Let your wonderful ideas flow here</h2></p>
          <form name="sentMessage" id="contactForm" action="/edit/{{post.slno}}" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Enter Title" id="title" name="title" required data-validation-required-message="Please enter your name." value="{{post.title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tagline</label>
              <input type="text" class="form-control" placeholder="TagLine" id="tagline" name="tagline" required data-validation-required-message="Please enter your email address."value="{{post.tagline}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="Enter slug" id="slug" name="slug" required data-validation-required-message="Please enter your phone number." value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="Enter content" id="content" name="content" required data-validation-required-message="Please enter a message." >{{post.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image</label>
              <input rows="5" class="form-control" placeholder="Enter image file" id="img_file" name="img_file" required data-validation-required-message="Please enter a message." value="{{post.img_file}}">
              <p class="help-block text-danger" ></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit Post</button>
        </div>
        </form> 





               <!-- Pager -->
        <div class="clearfix">
        <a href="/logout" class="btn btn-danger float-right" padding="20px" href="#">LOG-OUT</a>
  
        </div>
      </div>
    </div>
  </div>
{% endblock %}
